<ion-header>
  <ion-toolbar>
    <ion-title>PooApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img class="logo" src="/assets/poo.png"/><p></p>

    <p>
      <button mat-raised-button color="primary" class="full" (click)="addTank()">Add Tank</button>
    </p>
    <p>
      <button mat-raised-button color="primary" (click)="getMyTanks()">
        My tanks
        <mat-icon>commute</mat-icon>
      </button>
    </p>
    <p>
      <button mat-raised-button color="primary" [disabled]="true">
        Agencies
        <mat-icon>source</mat-icon>
      </button>
    </p>
    <p>
      <button mat-raised-button color="primary" (click)="goToDownload()">
        Poownload
        <mat-icon>done</mat-icon>
      </button>
    </p>

    <p>
      <button mat-raised-button color="primary" (click)="follow()">
        Follow
        <mat-icon>done</mat-icon>
      </button>
    </p>


  </div>
</ion-content>
