.content{
  margin-top: 20px;
  padding: 20px;
  mat-card-actions{
    text-align: center;
  }
}
.tank-1 {
  background-image: url('../../../assets/images/sail.png');
  background-size: cover;
}
.tank-2 {
  background-image: url('../../../assets/images/camper-van.png');
  background-size: cover;
}
