<ion-header>
  <ion-toolbar>
    <ion-title>Download</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content" >
    <form [formGroup]="downloadForm" (ngSubmit)="onDownload()" >
      <div class="tank-select">
        <mat-form-field appearance="outline"  *ngIf="response.tanks">
          <mat-label>Tank*</mat-label>
          <mat-select formControlName="tank"  formControlName="tank" [(value)]="tankId">
            <mat-option [value]="tank.id" *ngFor="let tank of response.tanks" >{{tank.name}}</mat-option>
          </mat-select>
          <mat-icon mat-icon-button matSuffix>Tanks to download</mat-icon>
        </mat-form-field>
      </div>

      <div class="submit">
        <button mat-raised-button color="primary" type="submit" >
          Download
        </button>
      </div>

    </form>
    <div id="map" style="height:100%;"></div>
  </div>
  <div class="loading" *ngIf="loading">
    <p>Loading</p>
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</ion-content>
