<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-title">
      PooApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PooApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img class="logo" src="/assets/poo.png"/><p></p>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" autocomplete="off">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input autocomplete="false" matInput placeholder="Your email address" formControlName="email"/>
          <button mat-icon-button matSuffix>
            <mat-icon matSuffix>alternate_email</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input autocomplete="false" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LogIn</button>
      </p>
      <p>
        <a mat-flat-button [routerLink]="['/sign-up']">Sign Up</a>
      </p>
    </form>


  </div>
</ion-content>
